<VirtualHost *:80>
    ServerName laravel.test
    DocumentRoot /var/www/laravel/public

    <Directory /var/www/laravel/public>
        AllowOverride All
        Require all granted
    </Directory>

    <IfModule mod_proxy_fcgi.c>
        <Proxy "fcgi://php7.3:9000">
            ProxySet timeout=300
        </Proxy>
        <FilesMatch ".+\.ph(ar|p|tml)$">
            SetHandler "proxy:fcgi://php7.3:9000"
        </FilesMatch>
    </IfModule>

    ErrorLog logs/laravel.log

</VirtualHost>
